

.map-container {
  display: flex;
  height: calc(100vh - 70px);
  margin-top: 80px;
}

#sidebar {
  width: 250px;
  background-color: #f0f9ff;
  border-right: 1px solid #cce4f7;
  padding: 20px;
}

#sidebar h3 {
  margin-bottom: 15px;
  color: #0077cc;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
  cursor: pointer;
  color: #005b99;
}

#sidebar ul li:hover {
  background-color: #e6f3ff;
  border-radius: 4px;
}

#sidebar button {
  margin-top: 20px;
  padding: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#sidebar button:hover {
  background-color: #005fa3;
}

#map {
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: 500px;
}

/* Top Search Bar */
.top-toolbar {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}

.top-toolbar input {
   position: absolute;
  top: 100px; /* below navbar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 500 !important;
}

/* Legend */
.legend-panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 500;
}

/* Floating Draw Button */
.draw-route-btn {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 1000;
  width: auto;
  display: inline-block;
}

.draw-route-btn:hover {
  background-color: #218838;
}

.route-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
   position: relative;
}
